<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<h1>Users List</h1>
<div>
    <table border="3">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Role</th>
            <th>Operation</th>
        </tr>
        <tr th:each="user : ${userList}">

            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getRoles()}"></td>
            <td>
                <form th:action="@{'/admin/edit/' + ${user.id}}">
                    <input type="submit" class="buttonEdit" value="Edit"/>
                </form>

                <form th:method="DELETE" th:action="@{/admin/users/delete(userId=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>

    <br>

    <input type="button" value="Add"
           onclick="window.location.href = '/admin/users/new'"/>

    <input type="button" value="Logout"
           onclick="window.location.href = '/logout'"/>

</div>
</body>
</html>